body {
    background-color: #202225;
}



.header {
    height: 60px;
    padding: 6px;
    margin: auto;
    align-items: center;
    display: flex;

}

#about {
    margin: 0px 5px 0px 15px;
    padding: 5px;
    color: #bdc1c6;
    background-color: #202225;
    border:none;
    font: 14px Roboto, arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
    
}

#store {
    margin: 0px 5px;
    padding: 5px;
    color: #bdc1c6;
    background-color: #202225;
    border:none;
    font: 14px Roboto, arial, sans-serif;
}

#gmail {
    margin-left: 77%;
    background-color: #202225;
    border: none;
    color:white;
    font-family: 13px Arial, sans-serif;
}

#images {
    background-color: #202225;
    border: none;
    color: white;
    margin-right: 15px;
    font-family: 13px Arial, sans-serif;
}

#google-apps {
    padding: 8px;
    background-color: #202225;
    border: none;
    height: 40px;
    width: 40px;
}

#google-apps > img {
    border-radius: 50%;
    width: 100%;
}

#google-account {
    background-color: #202225;
    border: none;
    padding: 4px;
    width: 40px;
    height: 40px;
    display:grid;
    margin-left: 15px;
}

#google-account > img {
    border-radius: 50%;
    size: 16px 16px;
    width: 100%
    
}

.logo {
    background-color: #202225;
    width: 384px;
    height: 204px;
    margin: auto;
    padding-top: 20px;
}

.logo > img {
    width: 100%;
}

.search {
    text-align: center;
    border: 1px solid #5F6367;
    width: 582px;
    height: 44px;
    margin: auto;
    
    
}


#search-bar {
    background-color: #202225;
    border: none;
    width: 575px;
    height: 42px;
    position: absolute;
    
}

#search-bar:hover {
    background-color: #2F3234;
    -webkit-tap-highlight-color: transparent;

}

#search-bar:focus {
    outline: none;
    
}


.search-buttons {
    text-align: center;
    margin: auto;
    position:relative
}

.search-buttons > button {
    background-color: #2F3234;
    color:#E7EAED;
    border-radius: 20%;
    border: 1px solid #5F6367;
    margin:auto;

}

.search > img {
    width: 40px;
    height: 40px;
    position: relative;
}